<h1>Editing study_session</h1>

<%= render 'form' %>

<%= link_to 'Show', room_study_session_path(@study_session.room, @study_session) %> |
<%= link_to 'Back', room_study_session_path(@study_session.room, @study_session) %>
