<h3>All Available Study Sessions</h3>

<table>
  <thead>
    <tr>
      <th>Room</th>
      <th>Edit</th>
      <th>Destroy</th>
    </tr>
  </thead>

  <tbody>
    <% @study_sessions.each do |study_session| %>
      <tr>
        <td><%= link_to study_session.room, study_session %></td>
        <td><%= link_to 'Edit', edit_study_session_path(study_session) %></td>
        <td><%= link_to 'Destroy', study_session, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Study session', new_study_session_path %>
