<p id="notice"><%= notice %></p>

<p>
  <strong>Room:</strong>
  <%= @study_session.room %>
</p>

<%= link_to 'Edit', edit_study_session_path(@study_session) %> |
<%= link_to 'Back', study_sessions_path %>
