<%= form_for current_user, :url => choose_school_path, :method => :patch do |f| %>

  <div class="row">
    <div class="col-md-3">
      <%= f.label :school %><br />
      <% school_array = School.all.map { |school| [school.name, school.id] } %>
      <%= select_tag :school_id, options_for_select(school_array), :class => "select form-control" %>
    </div>
  </div>
  <br/>

  <div class="row">
    <div class="col-md-3">
      <%= f.submit "Update", :class => "btn btn-primary" %>
  	</div>
  </div>
  <br/>

<% end %>
