<h1>Welcome!</h1>

<h3>What is StudyFinder?</h3>
<p>StudyFinder is a collection of study sessions from students at schools across the state of Ohio.</p>

<h3>How do I use it?</h3>
<p>Start by signing up for an account, or signing in if you already have one. Once you're logged in, you can search for current study sessions at your school by subject, building, room, or even owners of those sessions. Each study session allows for notes, comments, and even pictures to be added that are related to the subject or class it covers.</p>
<p>If you don't see a group that wants to get together to discuss a subject or class that you want, create your own!</p>
