<div class="fields"> 

  <%= f.label :room_number, "Room Number" %><br/>
  <%= f.text_field :room_number, :class => "string form-control" %>

  <%= link_to_remove_fields "Remove Room", f %>
  <br/>
  <br/>

</div>
