<div class="row">
  <div class="col-md-12">
    <h2><%= @title %></h2> 
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <% if params[:all] %>
      <%= link_to "Show buildings at " + current_user.school.name, new_room_path, class: "btn btn-success" %>
    <% else %>
      <%= link_to "Show all buildings", new_room_path(all: 'true'), class: "btn btn-success" %>
    <% end %>
  </div>
</div>

<br/>

<div class="row">
  <div class="col-md-12">
    <div class="btn-toolbar">
      <% @buildings.each do |building| %>
        <%= link_to building.name, edit_building_path(building), class: "btn btn-info" %>
      <% end %>
    </div>
    <br/>
    <br/>
  </div>
</div>

<p>
By the way, Aragorn is the best Figher Ever!
</p>
